        {% extends "base.html.twig" %}
        {# On hérite du template 'base.html.twig' #}

        {# On appel le block body du template 'base.html.twig' #}
        {% block body %}

            <h1 class="display-4 my-4 text-center">Détails de l'article</h1>
            {# article est une varibale twig qui provient du controller et de la methode show #}
        {#la varibale article contient le détail de l'article sélectinné en bdd //pas besoin de boucle 1article #}
        
            <div class="col-md-12 card mb-2 p-0">
                <img src={{ article.image|replace({"200/200": "1000/300"}) }}
                {#replace filtre twig qui permet de remplacer l'image par exemple ou une partie de chaine de caracter par une autre #}
                
                <div class="card-body">
                    <h5 class="card-title text-center"> {{ article.title }} </h5>
                    <p class="text-center">{{ article.content|raw }}</p>
                    <hr>
                    <span class="col-md 2"><a href ="{{ path('blog_edit',  {'id': article.id}  ) }}" class="text-left btn btn-warning"> MODIFIER </a> </span>
                    <span class="col-md 6 font-italic text-right">Posté le {{ article.createAt|date("d/m/Y") }} à {{ article.createAt|date("H:i:s") }}</span>
                </div>
            </div>
            
        {% endblock %}


